<!--Homepage-->
<div class="container">
    <br>
    <div class="col-md-12 jumbotron">
        <div class="text-center">
            <h1> New York Times Mongo Scraper</h1>
        </div>
    </div>
    <div>
        <ul class="list">
            {{#each article}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>