body {
  background-image: url("https://as2.ftcdn.net/jpg/00/26/40/19/1000_F_26401946_7EnLGb5SifxGtjJWfir8dXANdCdhVxeS.jpg");
}

#article {
  font-family: 'Gelasio', serif;
  font-size: 22px;
}

#summary {
  font-family: 'Gelasio', serif;
  font-size: 21px;
}

#link {
  font-size: 13px;
  color: #037BFF;
}

#fontawesome {
  font-size: 22px; 
  color: Dodgerblue
}

