body {
  font-family: 'Gelasio', serif;
  font-size: 22px;
  background-image: url("https://previews.123rf.com/images/korolyok/korolyok1803/korolyok180300133/98408508-old-grunge-newspaper-paper-texture-background-blurred-vintage-newspaper-background-aged-blur-paper-t.jpg");
  /* background-color: #cccccc; */
}

.breadcrumb .breadcrumb-item:nth-child(2)::before {
  content: "";
color: darkgray;
}

a {
  color: black;
}

#fontawesome {
  font-size: 22px; 
  color: Dodgerblue
}

